* {
  padding:0;
  margin:0;
  border-collapse:collapse;
  border-spacing:0;
}

body{
  font-family:Arial,Tahoma;
  margin:20px auto;
}

.wrap {
  margin:20px auto;
  width:960px;
}

.banners {
  width:960px;
  font-size:0;
}

.banners > div {
  width:150px;
  margin-right:10px;
  position:relative;
  display:inline-block;
  overflow:hidden;
  cursor:pointer;
  -webkit-transition: -webkit-transform .4s;
  -moz-transition: -moz-transition .4s;
  -o-transition: -o-transition .4s;
  transition: transform .4s, box-shadow .4s;
  border-radius:2px;
}

.banners > div:hover {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  z-index:2;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.banners > div > img {
  width:150px;
}

.banners > div > div.info {
  font-size:12px;
  padding:5px;
  position:absolute;
  width:150px;
  background:rgba(255,255,255,0.75);
  height:100%;
  top:0;
  overflow:hidden;
  opacity:0;
  -webkit-transition: opacity .4s ease .4s;
  -moz-transition: opacity .4s ease .4s;
  -o-transition: opacity .4s ease .4s;
  transition: opacity .4s ease .4s;
  font-style:italic;
}

.banners > div > div.info > div {
  margin-bottom:4px;
}

.banners > div > div.price {
  font-size:24px;
  line-height:28px;
  color:#fff;
  padding:2px 5px;
  position:absolute;
  border-radius:8px 0 0 0;
  text-align:right;
  background:rgba(0,0,0,0.5);
  bottom:0;
  right:0;
  overflow:hidden;
  -webkit-transition: bottom .4s ease .2s;
  -moz-transition: bottom .4s ease .2s;
  -o-transition: bottom .4s ease .2s;
  transition: bottom .4s ease .2s;
}

.banners > div:hover > div.info { opacity:1; }
.banners > div:hover > div.price { bottom:-50px; }