.modal-window {
  position: fixed;
  background:#fff;
  z-index:10;
  display: inline-block;
  left: 100px;
  top: 100px;
  min-width:200px;
  border: 1px solid #AAA;
  color: #404040;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0px 0px 8px 0px rgba(127, 127, 127, 0.5);
  transition: box-shadow 0.5s;
  min-width: 300px;
}

.modal-window header {
  display: block;
  cursor: move;
  background:#f0f0f0;
  border-radius:4px;
  position: relative;
}

.modal-window header span {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #004080;
  margin:10px 15px;
  padding: 5px;
}

.modal-window header > div {
  position: absolute;
  right:5px;
  top:5px;
}

.modal-window header > div > div {
  background-image: url(images/ui-icons_454545_256x240.png);
  cursor: pointer;
  margin-left:5px;
  border: 1px solid #ccc;
  border-radius:2px;
  width: 19px;
  height: 18px;
  display: inline-block;
  opacity:0.4;
}

.modal-window header > div > div:hover { opacity:1; }
.modal-window header > div > div:first-child { background-position: -63px -125px; }
.modal-window header > div > div:last-child { background-position: -95px -127px; }

.modal-window .tabs-btn, .modal-window .subTabs-btn {
  padding:10px 10px 0 10px;
  line-height:0;
  font-size:0;
  border-bottom:1px solid #ddd;
  margin:0;
}

.modal-window .tabs-btn > li, .modal-window .subTabs-btn > li {
  display: inline-block;
  padding: 0 15px;
  height:16px;
  cursor: pointer;
  margin-right: 2px;
  border-radius: 4px 4px 0 0;
  margin-bottom: -1px;
}

.modal-window .tabs-btn > li:hover, .modal-window .subTabs-btn > li:hover {
  background: #F5F5F5;
  border-bottom: 1px solid #ddd;
}

.modal-window .tabs-btn > li[active], .modal-window .subTabs-btn > li[active] {
  border: 1px solid #ddd;
  border-bottom:1px solid #fff;
  cursor: default;
  background: #fff;
}

.modal-window .tabs-btn > li[active]:hover, .modal-window .subTabs-btn > li[active]:hover {
  border: 1px solid #ddd;
  border-bottom:1px solid #fff;
}

.modal-window .tabs-btn > li > span, .modal-window .subTabs-btn > li > span {
  display: inline-block;
  background-image: url(images/ui-icons_454545_256x240.png);
  width:16px;
  height:16px;
}

.modal-window .tabs-btn > li > .comment { background-position: -128px -96px; }
.modal-window .tabs-btn > li > .contact { background-position: -192px -128px; }
.modal-window .tabs-btn > li > .image { background-position: -208px -128px; }
.modal-window .tabs-btn > li > .star { background-position: -224px -112px; }
.modal-window .tabs-btn > li > .locked { background-position: -192px -96px; }

.modal-window .subTabs-btn > li > .refresh { background-position: -64px -80px; }
.modal-window .subTabs-btn > li > .lightbulb { background-position: -128px -128px; }
.modal-window .subTabs-btn > li > .pin { background-position: -128px -144px; }
.modal-window .subTabs-btn > li > .flag { background-position: -16px -112px; }

.modal-window .tabs { transition: width 0.4s, height 0.4s; font-size:14px; } 

.modal-window .tabs > div, .modal-window .subTabs>div { display:none; padding:12px; }
.modal-window .tabs > div[active], .modal-window .subTabs>div[active]{ display:block; }

.modal-window .tabs h4 { font-size:17.5px; margin:10px 0 20px; }
.modal-window .tabs .attrs > div { border-top: 1px solid #DDD; padding:5px; }
.modal-window .tabs .attrs > div > div { display:inline-block; color: #222; }
.modal-window .tabs .attrs > div > div:nth-child(2n+1) { width:110px; color:#aaa; }

.modal-window .tabs .imgs { width: 310px;}
.modal-window .tabs .imgs > img { 
  width: 140px; 
  display: inline-block; 
  margin: 0 10px 10px 0;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: border-color 0.4s;
  -webkit-transition: border-color 0.4s;
}
.modal-window .tabs .imgs > img:hover { border-color:#08c; }

.modal-window .tabs .imgs > img:nth-child(3) { margin:0 10px 0px 0;}
.modal-window .tabs .imgs > img:nth-child(2){ margin:0 0 10px 0;}
.modal-window .tabs .imgs > img:last-child { margin:0;}

.modal-window .tabs h4 { color:#678; }

.modal-window .tabs .captcha { margin:15px 0 10px; }

.modal-window .tabs .captcha > img { margin: 0 8px 8px 0; }

.modal-window div.slider { margin:10px; display:block; }

.modal-window .tabs .help { color:#777; font-size:12px; font-style:italic; }

.banner-imgs { margin-bottom:20px; }

.banner-imgs img { 
  width:100px; 
  margin-right:10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: border-color 0.4s;
  -webkit-transition: border-color 0.4s;
}

.banner-imgs img:last-child { margin:0; }

.banner-view > select { width: 125px; margin-right:10px; }
.banner-view > * { vertical-align:top; }