.adsTbl > .main {
  white-space: nowrap;
  min-width:100%;
  _overflow:auto;
  font-size:0;
}

.adsTbl > .nav {
  background:#eee;
  padding:10px;
  text-align:right;
}

.adsTbl > .nav > * {
  margin:0;
  vertical-align:top;
}

.adsTbl > .main > div {
  display:inline-block;
  font-size:14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  vertical-align:top;
}

.adsTbl > .main .head {
  top: 0;
  z-index:20;
  _width:100%;
  background: #ffffff;
  font-weight: 900;
  color: rgb(51,51,51);
  border-color: #ccc #eee #ccc #ccc;
  border-width: 1px;
  border-style: solid;
}

.adsTbl > .main .head.vertical {
  border-bottom-width:0;
}

.adsTbl > .main .head.vertical > div:last-child {
  white-space: pre-wrap;
  padding:0;
  padding-top:5px;
  padding-left:10px;
  color:#444;
  font-weight:100;
}

.adsTbl > .main .head.vertical > div:last-child > b  {
  white-space: pre-wrap;
}

.adsTbl > .main .head, .adsTbl > .main .values > div {
  padding: 5px;
}

.adsTbl > .main .values > div {
  position: relative;
}

.adsTbl > .main .values > div:nth-child(2n+1){
  background:#eee;
}

.adsTbl > .main .values.isPhotos > div {
  margin-bottom:72px;
}

.adsTbl > .main .values .photos {
  display:none;
  padding:10px;
  position:absolute;
  height:72px;
  top:30px;
  left:0;
  background: inherit;
}

.adsTbl > .main .values .photos > img {
  height:50px;
  margin-right:10px;
  padding:5px;
  border:1px solid #eee;
  background:#fff;
  border-radius:4px;
}

.adsTbl > .main  span.ctrl {
  background-image: url(images/ui-icons_454545_256x240.png);
  cursor: pointer;
  margin-left:5px;
  margin-top:3px;
  border: 1px solid #ccc;
  border-radius:2px;
  width: 19px;
  height: 18px;
  display: inline-block;
  opacity:0.4; 
}

.adsTbl > .main .ctrls>.ctrl:first-child {
  margin-left:0;
}

.adsTbl > .main .ctrl:hover {
  opacity:1; 
}

.adsTbl > .main .ctrl.remove {
  background-position: -96px -128px;
}

.adsTbl > .main .ctrl.search {
  background-position: -160px -112px;
}

.adsTbl > .main .ctrl.maximize {
  background-position: 0 -192px;
}

.adsTbl > .main .ctrl.sort {
  background-position: -128px 0px;
}

.adsTbl > .main .ctrl.sort.down {
  background-position: -64px -192px;
}

.adsTbl > .main .ctrl.sort.up {
  background-position: -96px -192px;
}

.adsTbl > .main div.search {
  display:none;
}

.adsTbl > .main div.search .bootstrap-select {
  margin:0;
}

.adsTbl > .main div.ctrls, .adsTbl > .main div.search {
  height:40px;
}

.adsTbl > .main div.ctrls > *, .adsTbl > .main div.search > * {
  vertical-align:top;
}

.adsTbl > .main div.search > .remove{
  margin-top: 8px;
}

.adsTbl > .main div.ctrls{
  padding:5px;
}