.carousel {
	margin-bottom: 0;
	padding: 0 0px 6px 0px;
}

.carousel-control {
	left: -120px;
}
.carousel-control.right {
	right: -6px;
}

.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -0px;
}

.carousel-indicators li {
	background: #c0c0c0;
}

.carousel-indicators .active {
background: #333333;
}