/* Интеграция с Twitter Bootstrap */
[class^="icn-"],
[class*=" icn-"] {
    display: inline-block;
    width: 17px;
    height: 16px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("images/icons-sprite.png"); /* Указываем путь к сгенерированному спрайту */
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
[class^="icn-"]:last-child,
[class*=" icn-"]:last-child {
    *margin-left: 0;
}
/* Сгенерированный CSS Sprite */
.icn-Beige{ background-position: 0 0; width: 16px; height: 16px; } 
.icn-black{ background-position: -21px 0; width: 16px; height: 16px; } 
.icn-blue{ background-position: -42px 0; width: 16px; height: 16px; } 
.icn-burgundy{ background-position: -63px 0; width: 16px; height: 16px; } 
.icn-darkblue{ background-position: -84px 0; width: 16px; height: 16px; } 
.icn-grey{ background-position: -105px 0; width: 16px; height: 16px; } 
.icn-brown{ background-position: -126px 0; width: 16px; height: 16px; } 
.icn-gold{ background-position: -147px 0; width: 16px; height: 16px; } 
.icn-green{ background-position: -168px 0; width: 16px; height: 16px; } 
.icn-icons-sprite{ background-position: -189px 0; width: 2011px; height: 58px; } 
.icn-pink{ background-position: 0 -63px; width: 16px; height: 16px; } 
.icn-red{ background-position: -21px -63px; width: 16px; height: 16px; } 
.icn-white{ background-position: -42px -63px; width: 16px; height: 16px; } 
.icn-yellow{ background-position: -63px -63px; width: 16px; height: 16px; } 