			#text h3 {
				font-size: 26px;
			}
			#text small, #text small * {
				font-size: 12px;
				color: #666;
			}
			#images {
				width: 940px;
				overflow: hidden;
			}
			#images div, #images img {
				display: block;
				float: left;
				width: 150px;
				height: 112px;
				margin-left:5px;
				margin-bottom:5px;
			}
			#images span {
				background-color: white;
				color: #000000;
				display: block;
				float: left;
				width: 150px;
				height: 112px;
				padding: 0;
			}
			
			#donate-spacer {
				height: 100%;
			}
			#donate {
				border-top: 1px solid #999;
				width: 750px;
				padding: 50px 75px;
				margin: 0 auto;
				overflow: hidden;
			}
			#donate p, #donate form {
				margin: 0;
				float: left;
			}
			#donate p {
				width: 122px;
			}
			#donate form {
				width: 100px;
			}