/* ------------- Body ------------- */
* {
	margin: 0px;
	padding: 0px;
}
html {height: 100%;}
body {
	font: 10px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
}
a {
	color: blue;
	outline: none;			
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}
p {
	margin: 0 0 18px;
}
img {
	border: none;
}
input {
	vertical-align: middle;
} 
#wrapper {
    width: 940px;
    padding: 0;
	margin: 0 auto;
}
/* ------------- Content ------------- */
#content{
    width: 940px;
    margin: 0 auto;
    padding:0;
    padding: 10px 0 10px 0;    
}
/* ------------- Footer ------------- */
#footer{
    height: 30px;
    background-color: #ccc;
    padding-top: 12px;
    text-align: center; 
}

.clear{
    clear: both;
}

.razdelitel{
    width: 940px;
    margin: 10px 0 10px 0;
}

.nameobya{
    font-size: 9px;
}
/*------------- PARTS ----------------*/

.part_back {
    width: 940px;
    border-left: 3px solid;
    border-right: 3px solid;
    padding: 5px;
}

.part_top div {
    display: inline;
}

.part_top_div_1 {
    text-align: left;
}

.part_top_div_1 span{
    font-size: 18px;
    font-weight: bolder;
}

.part_top_div_2 {
    float: right;
}

.part_border_1 {
    height: 3px;
    margin-bottom:5px;
}

.part_border_2 {
    height: 1px;
    margin-bottom: 5px;
}

.part_info {
    margin: 7px 0 7px 0;
}

.part_info div{
    display: inline;
}

.part_info_1 {
    text-align: left;
} 

.part_info_2 {
    float: right;
}

.part_content table {
    width: 100%;
    text-align: center;
}
/*----- PARTS ------*/
.est_border{
    border-color: #5b5b5b;
}

.est_color{
    background-color: #5b5b5b;
}

.car_border{
    border-color: #fe7b23;
}

.car_color{
    background-color: #fe7b23;
}
.ser_border{
    border-color: #198f28;
}

.ser_color{
    background-color: #198f28;
}

.res_border{
    border-color: #00a5ff;
}

.res_color{
    background-color: #00a5ff;
}

.job_border{
    border-color: #f22121;
}

.job_color{
    background-color: #f22121;
}
.shop_border{
    border-color: #006dcc;
}

.shop_color{
    background-color: #006dcc;
}
.hide_inputs{
	display:none;
}
#transport_form{
	display:none;
}
#trans_search_div{
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
.spax{
	float:left;
	min-height:60px;
	width:300px;
	margin-left:0px;
}
.pointer_a{
	cursor:pointer;
}
.td_style{
	background-color:#FFF;
}


.point{
    cursor:pointer;
}

/*------LEFT PANEL----------*/

#left_panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    border-right: 3px double #ccc;
    background-color: #FFFFFF;
    padding: 10px;
	overflow-y: scroll;
	display: none;
}

#right_panel{
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    border-left: 3px double #ccc;
    background-color: #FFFFFF;
    padding: 10px;
	overflow-y: scroll;
}
/*-----------Foto Akmurad----------*/

        .upload-link__inp {
            top: -3px;
            right: 70px;
            z-index: 2;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .upload-link__btn{
            margin:4px;
        }

        .upload {
            width: 230px;
            height: 200px;
            border: 2px solid #ccc;
            position: relative;
            background-color: #fff;
        }

        .upload__preview {
            -webkit-transition: opacity .3s ease;
            -moz-transition: opacity .3s ease;
            transition: opacity .3s ease;
        }

        .upload__link {
            bottom: 0;
            width: 100%;
            position: absolute;
            text-align: center;

        h5{
            color: black;
        }
