* {
  padding:0;
  margin:0;
  border-collapse:collapse;
  border-spacing:0;
}

.bannersWrap {
  position:relative;
  padding:0 50px;
  overflow:hidden;
}

.carousel-control.left, .carousel-control.right {
  color:#444;
  font-size:40px;
  background:#fff;
  width:50px;
  opacity:1;
  z-index:10;
}

.carousel-control .glyphicon {top:50%;margin-top:-20px;opacity:.5}
.carousel-control:hover .glyphicon{opacity:1}
.carousel-control .glyphicon-chevron-right {right:10%}
.carousel-control .glyphicon-chevron-left {left:10%}

.banners {
  padding:20px 0 20px 10px;
  font-size:0;
  position:relative;
  overflow: visible;
  white-space: nowrap;
}

.banners > div {
  margin-right:10px;
  vertical-align:top;
  position:relative;
  display:inline-block;
  overflow:hidden;
  cursor:pointer;
  -webkit-transition: -webkit-transform .4s;
  -moz-transition: -moz-transition .4s;
  -o-transition: -o-transition .4s;
  transition: transform .4s, box-shadow .4s;
  border-radius:2px;
}

.banners > div:hover {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  z-index:2;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.banners > div > img {
  width:inherit;
}

.banners > div > div.info {
  font-size:12px;
  padding:5px;
  position:absolute;
  width:inherit;
  background:rgba(255,255,255,0.75);
  height:100%;
  top:0;
  overflow:hidden;
  opacity:0;
  -webkit-transition: opacity .4s ease .4s;
  -moz-transition: opacity .4s ease .4s;
  -o-transition: opacity .4s ease .4s;
  transition: opacity .4s ease .4s;
  font-style:italic;
}

.banners > div > div.info > div {
  margin-bottom:4px;
}

.banners > div > div.price {
  font-size:24px;
  line-height:28px;
  color:#fff;
  padding:2px 5px;
  position:absolute;
  border-radius:8px 0 0 0;
  text-align:right;
  background:rgba(0,0,0,0.5);
  bottom:0;
  right:0;
  overflow:hidden;
  -webkit-transition: bottom .4s ease .2s;
  -moz-transition: bottom .4s ease .2s;
  -o-transition: bottom .4s ease .2s;
  transition: bottom .4s ease .2s;
}

.banners > div:hover > div.info { opacity:1; }
.banners > div:hover > div.price { bottom:-50px; }