body {
  overflow-y: hidden;
}

.mTable {
  cursor: pointer;
}

.mTable > div:first-child > div > div > div:first-child .photos {
  display:none;
  padding:10px;
  position:absolute;
  height:72px;
  top:30px;
  left:0;
  background: inherit;
}

.mTable > div:first-child > div > div > div:first-child .photos > img {
  height:50px;
  margin-right:10px;
  margin-top: 5px;
  padding:5px;
  border:1px solid #eee;
  background:#fff;
  border-radius:4px;
}

.mTable > div:first-child > div > div.isPhotos1 > div > div {
  margin-bottom:72px;
  position:relative;
}

.mTable > div:first-child > div > div.isPhotos2 > div > div {
  margin-bottom:130px;
  position:relative;
}

.mTable > div:first-child > div > div.isPhotos3 > div > div {
  margin-bottom:170px;
  position:relative;
}

* {
  margin:0;
  padding:0;
}

.hTable {
  /*display: inline-flex;*/
  border:1px solid #ccc;
}

.hTable > div {
  display: inline-block;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  vertical-align: top;
  top: 0;
  background: #ffffff;
  font-weight: 900;
  color: rgb(51,51,51);
  border-left: 1px solid #eee;
  border-right: 1px solid #ccc;
  padding: 5px;
}

.hTable > div:first-child {
  border-left: 0 solid #eee;
}

.hTable > div:last-child {
  border-right: 0 solid #eee;
}

.hTable .mini {
  border-bottom-width:0;
  height: 2000px;
  width:40px;
}

.hTable .mini > div:last-child {
  white-space: pre-wrap;
  padding:0;
  padding-top:5px;
  padding-left:10px;
  color:#444;
  font-weight:100;
}

.hTable .mini > div:last-child > b  {
  white-space: pre-wrap;
}

.hTable .maxi {
  min-width:100px;
}

.hTable  span.ctrl {
  background-image: url(images/ui-icons_0073ea_256x240.png);
  cursor: pointer;
  margin-left:5px;
  margin-top:3px;
  border: 1px solid #08f;
  border-radius:4px;
  width: 18px;
  height: 18px;
  display: inline-block;
  opacity:0.33; 
  transition: opacity ease .4s;
}

.hTable .ctrls>.ctrl:first-child {
  margin-left:0;
}

.hTable .ctrl:hover {
  opacity:1; 
}

.hTable .ctrl.remove {
  background-position: -96px -128px;
}

.hTable .ctrl.search {
  background-position: -160px -112px;
}

.hTable .ctrl.maximize {
  background-position: 0 -192px;
}

.hTable .ctrl.sort {
  background-position: -128px 0px;
}

.hTable .ctrl.sort.down {
  background-position: -64px -192px;
}

.hTable .ctrl.sort.up {
  background-position: -96px -192px;
}

.hTable div.search {
  display:none;
}

.hTable div.search .bootstrap-select {
  margin:0;
}

.hTable div.ctrls, .hTable div.search {
  height:40px;
}

.hTable div.ctrls > *, .hTable div.search > * {
  vertical-align:top;
}

.hTable div.search > .remove{
  margin-top: 8px;
}

.hTable div.ctrls{
  padding:5px;
}

.mTable {
  height:600px;
  position:relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/*.mTable > div:last-child {
      
  position:absolute;
  right:0;
  top:0;
  width:20px;
  background:#eee;
  height:100%;
}

.mTable > div:last-child > div {
  position:absolute;
  top:0;
  right:0;
  width:20px;
}

.mTable > div:last-child > div:first-child {
  height:60px;
  background: rgba(180, 180, 180, .8);
  transition:background ease .2s;
  z-index:5;
}

.mTable > div:last-child > div:last-child {
  height:0;
  width:20px;
  background: rgba(0, 127, 255, .5);
  transition:width ease 1s;
}

.mTable > div:last-child > div:first-child:hover { background:#08f; }
.mTable > div:last-child > div:first-child.active { background:#f80; }
*/
.mTable > div:first-child {
  height:100%;
  overflow:auto;
}

.mTable > div:first-child > div {
  width:100%;
  margin-right:20px;
  position:relative;
  overflow:hidden;
}

.mTable > div:first-child > div > div {
  white-space: nowrap;
  position:absolute;
  width:100%;
}

.mTable > div:first-child > div > div > div {
  display:inline-block;
  min-width:100px;  
}

.mTable > div:first-child > div > div > div > div{
  padding:5px;
  height:30px;
  background:#fff;
}

.mTable > div:first-child > div > div > div > div:nth-child(2n+1){
  background:#eee;
}

.tblBar {
  background:#eee;
  padding:5px;
  position:fixed;
  height:50px;
}

.tblBar > div:first-child{
  padding:9px;
  font-style:italic;
  color:#777;
}

.tblBar > div  {
  display:inline-block;
}

.tblBar > div:last-child > * {
  display:inline-block;
}

.tblBar > div:last-child {
  position:absolute;
}

.slick-container {
  width: 670px;
  margin: 20px 0;
  position: fixed;
  display: inline-block;
}

.slick {
  float: left;
  width: 630px;
}

.slide {
  height: 110px !important;
  cursor: pointer;
}

#mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 999;
  padding-top: 25%;
  display: none;
}

.mini {
  float: left;
}

.slick-buttons {
  width: 20px;
  float: left;
  position: relative;
}

.slick-buttons a{
  line-height: 30px;
}

.slick-buttons a{
  opacity: .5;
  cursor: pointer !important;
  border: 1px solid #000;
  margin-bottom: 14px;
  border-radius: 4px;
}

.slick-buttons .disabled {
  opacity: .2;
  cursor: wait !important;
}

.slick-buttons .disabled:hover {
  opacity: .2;
  cursor: wait !important;
}

.slick-buttons a:hover{
 opacity: .8;
}

.slick-prev, .slick-next {
  display: none !important;
}

.slick-progress-bar {
  width: 10px;
  height: 107px;
  border: 1px solid #ccc;
  float: left;
}

.slick-progress {
  width: 10px;
  height: 0%;
  background-color: #ddd;
}

.slide .info {
  opacity: 1;
}

.hover-row {
  width: 100%;
  position: absolute;
  background-color: #ccc;
  z-index: 999;
}

.current_row {
  background-color: #CEE6F3 !important;
}

.ads_ficherd {
  background-color: #ffcc99 !important;
  color: #ff7518;
  font-weight: bold;
  border-bottom: 1px solid #A53E0F;
}

.ads_colored {
  background-color: #fcdd76 !important;
  border-bottom: 1px solid #DABA15;
  color: #b8860b;
}

.slick-container-info {
  width: 100%;
  height: 29px;
  line-height: 30px;
  padding-left: 10px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  display: none;
  position: fixed; 
}
.slick-container-info-cnt {
  height: 30px;
  display: none;
}

