
<html>  

<head>  

   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  

   <title>Infokain.com</title>  

   <style type="text/css">  

    a {color: #4A72AF;}  

    body, #header h1, #header h2, p {margin: 0; padding: 0;}  

    #main {border: 1px solid #cfcece;}  

    img {display: block;}  

    #top-message p, #bottom-message p {color: #3f4042; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }  

    #header h1 {color: #ffffff !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; font-size: 24px; margin-bottom: 0!important; padding-bottom: 0; }  

    #header h2 {color: #ffffff !important; font-family: Arial, Helvetica, sans-serif; font-size: 24px; margin-bottom: 0 !important; padding-bottom: 0; }  

    #header p {color: #ffffff !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; font-size: 12px;  }  

    h1, h2, h3, h4, h5, h6 {margin: 0 0 0.8em 0;}  

    h3 {font-size: 28px; color: #444444 !important; font-family: Arial, Helvetica, sans-serif; }  

    h4 {font-size: 22px; color: #4A72AF !important; font-family: Arial, Helvetica, sans-serif; }  

    h5 {font-size: 18px; color: #444444 !important; font-family: Arial, Helvetica, sans-serif; }  

    p {font-size: 12px; color: #444444 !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; line-height: 1.5;}  

   </style>  

</head>  

  

<body>  

<table width="100%" cellpadding="0" cellspacing="0" bgcolor="e4e4e4"><tr><td>  
<table id="top-message" cellpadding="20" cellspacing="0" width="600" align="center">  
	<tr>  
        <td align="center">  
			<p>Не можете открыть письмо? <a href="#">Просмотрите в браузере</a></p>  
		</td>  
	</tr>  
</table><!-- top message -->  
<table id="main" width="600" align="center" cellpadding="0" cellspacing="15" bgcolor="ffffff">  
	<tr>  
		<td>  
			<table id="content-1" cellpadding="0" cellspacing="0" align="center">  
				<tr><td bgcolor="ffffff"><img src="http://infokain.com/img/Infokain.jpg" width="270" /></td></tr>
			</table><!-- content 1 -->  
		</td>  
	</tr><!-- content 1 -->  
	<tr>  
       <td>  
			<table id="header" cellpadding="10" cellspacing="0" align="center">  
				<tr>  
					<td width="570" bgcolor="#71ACD4"><h2 style="color:#ffffff!important">Ваше объявление успешно добавлено</h2></td>  
				</tr>  
				<tr>  
					<td><h4 style="color:#71ACD4!important">Активируйте его перейдя по ссылке</h4></td>  
				</tr>  
				<tr>  
					<td align="right"><a href="{{link}}" target="_blank"><h5 style="color:#71ACD4!important">Активировать объявление</h5></a></td>  
				</tr>  
            </table><!-- header -->  
        </td>  
    </tr><!-- header -->  
	<tr>  
       <td>  
			<table id="header" cellpadding="10" cellspacing="0" align="center">  
				<tr>  
					<td width="570" bgcolor="#71ACD4"><h2 style="color:#ffffff!important">Вас обязательно заметят</h2></td>  
				</tr>  
				<tr>  
                    <td width="570"><h5>Ваше объявление отображается на 38 языках в более чем 50 000 городах.</h5></td>  
				</tr>  
				<tr>  
                    <td width="570"><h5>Пользователи могут Вам позвонить, написать на email письмо и написать Вам сообщение в чат если Вы находитесь на сайте.</h5></td>  
				</tr>  
            </table><!-- header -->  
        </td>  
    </tr><!-- header -->  
	<tr>  
       <td>  
			<table id="header" cellpadding="10" cellspacing="0" align="center">  
				<tr>  
					<td width="570" bgcolor="#71ACD4"><h2 style="color:#ffffff!important">Выделитесь</h2></td>  
				</tr>  
            </table><!-- header -->  
        </td>  
    </tr><!-- header -->  
    <tr>  
        <td></td>  
    </tr>  
        <tr>  

            <td>  

                <table id="content-3" cellpadding="0" cellspacing="0" align="center">  

                    <tr>  

                        <td width="170" valign="top" bgcolor="d0d0d0" style="padding:5px;">  

                            <img src="https://bytebucket.org/Nikita757/infokain-web3/raw/0709c86c3a44b39bf9b6d6eb8a6961ebe33da7db/images/letter/2.jpg?token=88e0ad9a2cf870c63b15ff7db9b098194e9e7a53" width="170" />  

                        </td>  

                        <td width="15"></td>  

                        <td width="170" valign="top" bgcolor="d0d0d0" style="padding:5px;">  

                            <img src="https://bytebucket.org/Nikita757/infokain-web3/raw/0709c86c3a44b39bf9b6d6eb8a6961ebe33da7db/images/letter/3.jpg?token=0346436d2b43552019d5dee2488f89f8ae1c283c" />  

                        </td>  

                        <td width="15"></td>  

                        <td width="170" valign="top" bgcolor="d0d0d0" style="padding:5px;">  

                            <img src="https://bytebucket.org/Nikita757/infokain-web3/raw/0709c86c3a44b39bf9b6d6eb8a6961ebe33da7db/images/letter/4.jpg?token=aa7b74f1c5b93cea4c72bc6090f8d1316eb49653" />  

                        </td>  

                    </tr>  

                </table><!-- content-3 -->  

            </td>  

        </tr><!-- content-3 -->  

        <tr>  

            <td>  

                <table id="content-4" cellpadding="0" cellspacing="0" align="center">  

                    <tr>  

                        <td width="180" valign="top">  

                            <h5>Яркая строчка</h5>  

                            <p>Выделите объявление цветом, оно станет заметнее</p>  

                        </td>  

                        <td width="15"></td>  

                        <td width="180" valign="top">  

                            <h5>Цвет и позиция</h5>  

                            <p>Ваше объявление помещается в верхние строчки и выделяется цветом</p>  

                        </td>  

                        <td width="15"></td>  

                        <td width="180" valign="top">  

                            <h5>Баннеры</h5>  

                            <p>Объявление находится на пике информации - в полосе баннеров. Выберите город и раздел в котором вы желаете отображать объявление.</p>  

                        </td>  

                    </tr>  

                </table><!-- content-4 -->  

            </td>  

        </tr><!-- content-4 -->  
       <tr>  

            <td>  

                <table id="content-4" cellpadding="0" cellspacing="0" align="center">  

                    <tr>  

                        <td width="180" valign="top">  
                            <p>0,3 IM = 0,3 $, за сутки</p>  

                        </td>  

                        <td width="15"></td>  

                        <td width="180" valign="top">  
                            <p>0,6 IM = 0,6 $, за сутки</p>  

                        </td>  

                        <td width="15"></td>  

                        <td width="180" valign="top">  

                            <p>0,9 IM = 0,9 $, за сутки.</p>  

                        </td>  

                    </tr>  

                </table><!-- content-4 -->  

            </td>  

        </tr><!-- content-4 -->  
	<tr>  
       <td>  
			<table id="header" cellpadding="10" cellspacing="0" align="center">  
				<tr>  
					<td width="570" bgcolor="#71ACD4"><h2 style="color:#ffffff!important">Зарегистрируйтесь</h2></td>  
				</tr>  
				<tr>  
                    <td><h5>Регистрация позволит Вам стать "Куратором" своих клиентов, и:</h5></td>  
				</tr>  
				<tr>  
                    <td><h5>- получать вознаграждения от приглашенных</h5></td>  
				</tr>  
				<tr>  
                    <td><h5>- получать вознаграждения от перевода слов</h5></td>  
				</tr>  
				<tr>  
                    <td><h5>- получать вознаграждения от продажи бонусных единиц купленных со скидкой</h5></td>  
				</tr>  
				<tr>  
                    <td><h5>- стать нашим партнером и представителем сайта в своем городе</h5></td>  
				</tr>  
				<tr>  
					<td > <a href="http://infokain.com/about.php" target="_blank"><h5 style="color:#71ACD4!important">Все подробности в описании</h5></a></td>  
				</tr>  
            </table><!-- header -->  
        </td>  
    </tr><!-- header -->  
	<tr>  
       <td>  
			<table id="header" cellpadding="10" cellspacing="0" align="center">  
				<tr>  
					<td width="570" bgcolor="#71ACD4"><h2 style="color:#ffffff!important">Следите за нами</h2></td>  
				</tr>  
				<tr>  
                    <td><h5>В ближайшее время Вам будет доступны:</h5></td>  
				</tr>  
				<tr>  
                    <td><p style="color:#000000!important">мультиязычное и бесплатное программное обеспечение для агентств недвижимости, кадровых агентств, автосалонов и магазинов</p></td> 
				</tr>  
				<tr>  
                    <td><p style="color:#000000!important">приложения для телефонов позволяющее работать offline</p></td> 
				</tr>  
				<tr>  
                    <td><p style="color:#000000!important">call центр и газета бесплатных объявлений в Вашем городе</p></td> 
				</tr>  
				<tr>  
                    <td><p style="color:#000000!important">доставка товаров со всего мира</p></td> 
				</tr>  
				<tr>  
                    <td><p style="color:#000000!important">крупные сделки с участием наших представителей</p></td> 
				</tr>  
				<tr>  
                    <td><p style="color:#000000!important">покупка транспорта и недвижимости online</p></td> 
				</tr>  
            </table><!-- header -->  
        </td>  
    </tr><!-- header -->  
	<tr>  
       <td>  
			<table id="header" cellpadding="10" cellspacing="0" align="center">  
				<tr>  
					<td width="570" bgcolor="#71ACD4"><h2 style="color:#ffffff!important">Успейте</h2></td>  
				</tr>  
				<tr>  
                    <td><h5>Приглашайте к нам своих друзей и всех, кто есть в Вашем почтовом ящике, пока за Вас это не сделали другие</h5></td>  
				</tr>  
				<tr>  
                    <td><h5>Станьте представителем в своем городе, им может быть только один человек</h5></td>  
				</tr>  
            </table><!-- header -->  
        </td>  
    </tr><!-- header -->  
	<tr>  
       <td>  
			<table id="header" cellpadding="10" cellspacing="0" align="center">  
				<tr>  
					<td width="570" bgcolor="#71ACD4"><h2 style="color:#ffffff!important">Удачи Вам в нашем бизнесе</h2></td>  
				</tr>  
            </table><!-- header -->  
        </td>  
    </tr><!-- header -->  
    </table><!-- main -->  

    <table id="bottom-message" cellpadding="20" cellspacing="0" width="600" align="center">  

        <tr>  

            <td align="center">  

                <p>Вы получили это письмо потому, что Вы, или кто то другой, добавил объявление на сайте Infokain.com, использовав этот почтовый адрес</p>  

                <p><a href="#">Я этого не делал</a> | <a href="#">На Infokain.com</a> | <a href="#">Отобразить в браузере</a></p>  

            </td>  

        </tr>  

    </table><!-- top message -->  

</td></tr></table><!-- wrapper -->  

  

</body>  

</html>

